<!DOCTYPE html>
<html lang="en">
<head>
  <title>read budget</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">

  <table class="table table-bordered">
	<% 
		if (result.length > 0) {
			var category_now = "";
			var total = 0.0;
			var subtotal_estimate = 0.0;
			var subtotal_actual = 0.0;
	%>
		<thead><tr><th>Category</th><th>Item</th><th>Estimate Cost</th><th>Actual Cost</th><tr></thead>
	<% } %>
	
	<tbody>
		<%
			for (var i=0; i<result.length; i++) {
				if (result[i].category != category_now) {
					category_now = result[i].category;
		%>
					<tr>
						<td><%=category_now %></td> 
						<td>
		<%
					for (var j=0; j<result.length; j++) {
						if (result[j].category == category_now) {
		%>
						<%=result[j].item %><br/>
		<%
						}
					}
		%>
						Subtotal
						</td>
						<td>
		<%
					for (var j=0; j<result.length; j++) {
						if (result[j].category == category_now) {
							subtotal_estimate += parseFloat(result[j].estimate_cost);
		%>
						<%=result[j].estimate_cost %><br/>
		<%
						}
					}
		%>
						<%=subtotal_estimate %>
						</td>
						<td>
		<%
					for (var j=0; j<result.length; j++) {
						if (result[j].category == category_now) {
							subtotal_actual += parseFloat(result[j].actual_cost);
		%>
						<%=result[j].actual_cost %><br/>
		<%
						}
					}
		%>
						<%=subtotal_actual %>
						</td>						
		<%
				}

			}
		%>
					</tr>

	</tbody>
  </table>
  
</div>

</body>
</html>

