<!DOCTYPE HTML>
<html>
    <head>
        <title>Wedding Banquet and Management - Schedule</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />


        <!-- Bootstrap Core CSS -->

        <link rel='stylesheet' href='http://netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css">
        <!-- Custom CSS -->
        <link href="css/style.css" rel='stylesheet' type='text/css' />

        <!-- Graph CSS -->
        <link href="css/font-awesome.css" rel="stylesheet"> 
        <!-- jQuery -->
        <script src="js/jquery-2.1.4.min.js"></script>
        <!-- //jQuery -->
		
        <!-- Bootstrap Core JavaScript -->
        <script src="js/bootstrap.min.js"></script>
        <!-- /Bootstrap Core JavaScript -->	   		
		
		
		<!-- calendar  -->
		<link href='css/fullcalendar.min.css' rel='stylesheet' />
		<link href='css/fullcalendar.print.min.css' rel='stylesheet' media='print' />
		<script src='js/moment.min.js'></script>
		<script src='js/jquery.min.js'></script>
		<script src='js/fullcalendar.min.js'></script>
		<!-- //calendar  -->
		
		
		<!-- datetimepicker  -->
		<link href="css/bootstrap-datetimepicker.min.css" rel='stylesheet' type='text/css' />
		<script type="text/javascript" src="js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
		<script type="text/javascript" src="js/bootstrap-datetimepicker.fr.js" charset="UTF-8"></script>
		
		<!-- datetimepicker  -->

		
<script>

  $(document).ready(function() {

    $('#calendar').fullCalendar({
      header: {
        left: 'prev,next today',
        center: 'title',
        right: 'month,agendaWeek,agendaDay'
      },
      defaultDate: '2018-03-18',
      navLinks: true, // can click day/week names to navigate views
      selectable: false,
      selectHelper: true,
      select: function(start, end) {
        var title = prompt('Event Title:');
        var eventData;
        if (title) {
          eventData = {
            title: title,
            start: start,
            end: end
          };
          $('#calendar').fullCalendar('renderEvent', eventData, true); // stick? = true
        }
        $('#calendar').fullCalendar('unselect');
      },
      editable: false,
      eventLimit: true, // allow "more" link when too many events
      events: [
	  
		<%
			for(var i=0; i<result.length; i++) { 
		%>
		{
			title: '<%=result[i].event_name %>',
			start: '<%=result[i].start_date %>',
			end: '<%=result[i].end_date %>'
		},
		<%
			}
		%>
	  
	/*  
        {
          title: 'All Day Event',
          start: '2018-02-01'
        },
        {
          title: 'Long Event',
          start: '2018-02-07',
          end: '2018-02-10'
        },
        {
          id: 999,
          title: 'Repeating Event',
          start: '2018-02-09T16:00:00'
        },
        {
          id: 999,
          title: 'Repeating Event',
          start: '2018-02-16T16:00:00'
        },
        {
          title: 'Conference',
          start: '2018-02-11',
          end: '2018-02-13'
        },
        {
          title: 'Meeting',
          start: '2018-02-12T10:30:00',
          end: '2018-02-12T12:30:00'
        },
        {
          title: 'Lunch',
          start: '2018-02-12T12:00:00'
        },
        {
          title: 'Meeting',
          start: '2018-02-12T14:30:00'
        },
        {
          title: 'Happy Hour',
          start: '2018-02-12T17:30:00'
        },
        {
          title: 'Dinner',
          start: '2018-02-12T20:00:00'
        },
        {
          title: 'Birthday Party',
          start: '2018-02-13T07:00:00'
        },
        {
          title: 'Click for Google',
          url: 'http://google.com/',
          start: '2018-02-28'
        }
	*/
      ]
    });

  });

</script>		

    </head> 
    <body style="background: url('wedding.jpg'); background-repeat: no-repeat; background-size:cover;">
        <div class="page-container">
            <!--/content-inner-->
            <div class="left-content">
                <div class="mother-grid-inner">
                    <!--header start here-->
                    <div class="header-main">
                        <div class="profile_details" style="float:right; margin-left:10px; width:25%; height:60px">		


                            <div class="user-name">
                                <p style="margin-bottom:1%;"><%=userdata[0].bridegroom %>&<%=userdata[0].bride %> </p>
                                <p style="margin-bottom:1%;">Wedding Date:</p>
                                <p style="margin-bottom:1%;"><%=userdata[0].big_day %></p>
                            </div>

                            <ul>
                                <li class="dropdown profile_details_drop">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                        <i style="margin-top:5%;" class="fa fa-angle-down"></i>
                                        <i style="margin-top:5%;" class="fa fa-angle-up"></i>
                                        <div class="clearfix"></div>	
                                    </a>


                                    <ul class="dropdown-menu drp-mnu">
                                        <li> <a href="#"><i class="fa fa-download"></i>Download app</a> </li> 
                                        <li> <a href="/read_profile"><i class="fa fa-user"></i>Profile</a> </li>
                                        <li> <a href="/logout"><i class="fa fa-sign-out"></i>Logout</a> </li>
                                    </ul>


                                </li>
                            </ul>

                            <ul>
                                <li class="dropdown profile_details_drop">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i style="right:60px; width:10%; color:white; margin-top:-5%;" class="fa fa-tasks"></i></a>
                                    <ul class="dropdown-menu drp-mnu task">

                                        <li>
                                            <div class="task-info">
                                                <span class="task-desc">Task done</span><span class="percentage">40%</span>
                                                <div class="clearfix"></div>	
                                            </div>
                                            <div class="progress progress-striped active">
                                                <div class="bar yellow" style="width:40%;"></div>
                                            </div>
                                        </li>

                                        <li>
                                            <div class="task-info">
                                                <span class="task-desc">Guest attending</span><span class="percentage">90%</span>
                                                <div class="clearfix"></div>	
                                            </div>
                                            <div class="progress progress-striped active">
                                                <div class="bar green" style="width:90%;"></div>
                                            </div>
                                        </li>

                                        <li>
                                            <div class="task-info">
                                                <span class="task-desc">Budget used</span><span class="percentage">33%</span>
                                                <div class="clearfix"></div>	
                                            </div>
                                            <div class="progress progress-striped active">
                                                <div class="bar red" style="width: 33%;"></div>
                                            </div>
                                        </li>

                                    </ul>
                                </li>										
                            </ul> 	
                            <div class="clearfix"> </div>


                            <div class="clearfix"> </div>

                            <!--notification menu end -->



                        </div>

                        <div class="w3layouts-right">
                            <!--search-box-->
                            <div class="w3-search-box">
                                <form action="#" method="post">
                                    <input type="text" placeholder="Search..." required="">	
                                    <input type="submit" value="">					
                                </form>
                            </div><!--//end-search-box-->
                            <div class="clearfix"> </div>
                        </div>



                        <div class="clearfix"> </div>	
                    </div>
                    <!--heder end here-->


                    <div class="home-header-main">
                        <div style="padding-left: 15px; padding-right: 20px;">	
                            <a href="/">Home</a>  <i class="fa fa-angle-right"></i> <a href="/read_schedule">Schedule</a>
							<a style="float:right" class="glyphicon glyphicon-pencil" data-toggle="modal" data-target="#add_schedule"></a>
                            <HR/>
			    

                        </div>

						<div id='calendar'></div>


                    </div>
					
					
	  <!-- Modal -->
	  <div class="modal fade" id="add_schedule" role="dialog">
		<div class="modal-dialog">
		
		  <!-- Modal content-->
		  <div class="modal-content">
			<div class="modal-header">
			  <button type="button" class="close" data-dismiss="modal">&times;</button>
			  <h4 class="modal-title">New Schedule Event</h4>
			</div>
			<div class="modal-body">	
			<form class="form-horizontal" action="add_schedule" method="post" enctype="multipart/form-data">
				<div class="form-group">
				  <label class="control-label col-sm-3" for="event_name">Event Name:</label>
				  <div class="col-sm-9">
					<input type="text" style="margin-left:-3%" class="form-control" id="event_name" name="event_name" required>
				  </div>
				</div>			
				<div class="form-group">
				  <label class="control-label col-sm-3" for="dtp_input1">Start Date:</label>
				  <div class="col-sm-9 input-group date form_datetime" data-date="" data-date-format="yyyy-mm-ddThh:ii:ss" data-link-field="dtp_input1">
					<input type="text" class="form-control" id="start_date" name="start_date" size="16" value="" readonly required>
					<span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
					<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
				  </div>
				  <input type="hidden" id="dtp_input1" value="" />
				</div>
				<div class="form-group">
				  <label class="control-label col-sm-3" for="dtp_input1">End Date:</label>
				  <div class="col-sm-9 input-group date form_datetime" data-date="" data-date-format="yyyy-mm-ddThh:ii:ss" data-link-field="dtp_input1">
					<input type="text" class="form-control" id="date" name="date" size="16" value="" readonly >
					<span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
					<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
				  </div>
				  <input type="hidden" id="dtp_input1" value="" />
				</div>				
				<div class="form-group">        
					<div class="col-sm-offset-3 col-sm-9">
						<button type="submit"  class="btn btn-default">Add</button>
					</div>
				</div>
				</form>			  
			</div>
			<div class="modal-footer">
			  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		  </div>
		  
		</div>
	  </div>					
					
					
					
					
				
	<footer style="margin-top:10px;">
	<div class="copyrights">
		 <p>Contact us:</p>

		<p><i class="fa fa-envelope"></i>   <a href="mailto:mywedding@gmail.com">mywedding@gmail.com</a></p>
	</div>			
	</footer>
				

	  

                    <!--inner block start here-->
                    <div class="inner-block">

                    </div>
                    <!--inner block end here-->

                </div>
            </div>
            <!--//content-inner-->
            <!--/sidebar-menu-->
            <div class="sidebar-menu">
                <header class="logo1">
                    <a href="/"><img class="imgclass" src="Wedding-heart.png" alt="Wedding"></a>
                </header>

                <div>
                    <ul id="menu">
                        <li><a href="/read_budget">Budget list<div class="clearfix"></div></a></li>
                        <li><a href="/read_checklist">Checklist<div class="clearfix"></div></a></li>
                        <li><a href="/read_guest">Guest list<div class="clearfix"></div></a></li>
                        <li><a href="/read_helper">Helper list<div class="clearfix"></div></a></li>
                        <li><a href="/read_rundown">Run Down<div class="clearfix"></div></a></li>
                        <li><a href="/read_schedule">Schedule<div class="clearfix"></div></a></li>
                        <li><a href="/read_seatingplan">Seating plan<div class="clearfix"></div></a></li>
                        <li><a href="/read_photo">View photo<div class="clearfix"></div></a></li>
                        <li><a href="/read_vendor">Vendor list<div class="clearfix"></div></a></li>
                    </ul>
                </div>
            </div>
            <div class="clearfix"></div>		
        </div>

<script type="text/javascript">
    $('.form_datetime').datetimepicker({
        //language:  'fr',
        weekStart: 1,
        todayBtn:  1,
		autoclose: 1,
		todayHighlight: 1,
		startView: 2,
		forceParse: 0
        //showMeridian: 1
    });
</script>		
		
		
		
    </body>
</html>
